@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
}

/*HOME & GENERAL*/
.body {
  background-image: url(../images/fondo_page-0001.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
@media (max-width: 768px) {
  .body {
    background-image: url(../images/fondo_page_mobile.jpg);
  }
}

.header {
  height: 100%;
  position: fixed;
  margin-top: 9%;
  margin-left: 2%;
}
.header nav ul {
  text-decoration: none;
  font-size: 24px;
  color: rgb(28, 28, 28);
  line-height: 1.2;
  list-style-type: none;
  font-weight: bold;
  padding: 0px;
  text-align: left;
}
.header nav ul li:hover {
  font-size: 32px;
  background-color: orange;
  transition: font-size 0.5s;
}
.header p {
  font-size: 12px;
  font-weight: lighter;
  text-align: left;
  text-decoration: none;
  border: 5px auto;
  margin-top: 10px;
  margin-right: 500px;
  margin-bottom: 10px;
}

.tamaño-logo {
  height: 75px;
  width: 75px;
  margin-top: 300px;
  margin-bottom: 2%;
  padding: 0%;
}

.title-h1 {
  text-align: right;
  font-size: 72px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  animation-name: efecto_h1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 1s;
}

.title-h1-home {
  text-align: right;
  font-size: 72px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  animation-name: efecto_h1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes efecto_h1 {
  0% {
    font-size: 72px;
    color: rgb(255, 255, 255);
  }
  50% {
    font-size: 72px;
    color: rgb(246, 126, 7);
  }
  100% {
    font-size: 72px;
    color: black;
  }
}
.main {
  height: auto;
  width: auto;
  margin: 50px 80px 10px 250px;
}
.main .main-img {
  padding: 15px;
}
.main .main-img:hover {
  padding: 50px;
}
.main .header,
.main .main {
  display: inline-block;
}
.main footer {
  height: 30px;
}
.main footer p {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  padding: 3px auto;
  bottom: 0px;
}

/*ABOUT*/
#main-img-J {
  max-width: 300px;
  height: auto;
  margin: 30px;
}

#main-section-p-J {
  text-decoration: none;
  text-align: left;
  font-style: italic;
  line-height: 1.3;
  width: auto;
  margin: 20px 20px 30px 20px;
}

.section-container {
  display: flex;
  align-items: flex-end;
  width: 500;
}

#main-img-I {
  max-width: 300px;
  height: auto;
  margin: 20px 20px 20px 20px;
}

#main-section-p-I {
  text-decoration: none;
  text-align: right;
  font-style: italic;
  line-height: 1.3;
  width: auto;
  margin: 20px 20px 30px 20px;
}

.tamaño-logo {
  height: 75px;
  width: 75px;
  margin-top: 330px;
  margin-bottom: 8%;
  padding: 0%;
}

footer {
  height: 30px;
}
footer p {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  padding: 3px auto;
  bottom: 0px;
}

/*PROJECT*/
.h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 30px;
  color: orange;
}

.table:nth-child(1) {
  width: 700px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.table:nth-child(2) {
  width: 700px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.table:nth-child(3) {
  width: 700px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

#table tr {
  font-size: 14px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 20px;
}

footer {
  height: 30px;
}
footer p {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  padding: 3px auto;
  bottom: 0px;
}

/*CAREER*/
.main-section-p {
  text-decoration: none;
  text-align: left;
  font-style: italic;
  font-size: 15px;
  line-height: 1.3;
  margin: 5px;
}

.animated-text {
  opacity: 0;
  animation: appear 3s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-buttom {
  padding: 2px 7px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 2px;
  background-color: rgba(2, 2, 2, 0.226);
  margin: 0px 200px;
}

#main-img-career {
  margin: 20px 5px 0px;
  align-items: left;
}

#section-container-career {
  display: flex;
  align-items: flex-end;
  width: 500;
  margin-top: 50px;
}

footer {
  height: 30px;
}
footer p {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  padding: 3px auto;
  bottom: 0px;
}

/*CONTACT*/
.main-section-form {
  height: auto;
  border-radius: 5px;
  background-color: rgba(2, 2, 2, 0.226);
  padding: 20px;
  margin: 20px 137px;
}

form input {
  color: rgb(249, 244, 244);
  border: 1px solid white;
  background-color: rgb(2, 2, 2);
  border-radius: 2px;
  font-size: 18px;
  margin: 9px auto;
}
form select {
  color: rgb(249, 244, 244);
  border: 1px solid white;
  background-color: rgb(2, 2, 2);
  border-radius: 2px;
  font-size: 18px;
  width: auto;
  margin: 9px 0px;
}
form textarea {
  color: rgb(249, 244, 244);
  border: 1px solid white;
  background-color: rgb(2, 2, 2);
  border-radius: 2px;
  font-size: 18px;
  width: auto;
  margin: 9px 0px;
}
form fieldset {
  border-width: 0px;
  width: auto;
}

#form input button {
  color: rgb(249, 244, 244);
  border: 1px solid white;
  background-color: rgb(2, 2, 2);
  border-radius: 2px;
  font-size: 18px;
  margin: 9px 0px;
}

form input,
form select {
  border: 1px solid white;
  border-radius: 2px;
}

footer {
  height: 30px;
}
footer p {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  padding: 3px auto;
  bottom: 0px;
}

/*# sourceMappingURL=style.css.map */
