$colorprimario: orange;
$colorsecundario:white



/*Comentario
cree variables a modo ejercicio pero no quisiera aplicarlas en mi proyecto. por lo que lo dejo a modo ejercicio
$titles (
    ABOUT: rgb(255, 255, 255),
    PROJECTS:  rgb(253, 128, 11),
    CAREER:  rgb(102, 34, 34),
    CONTACT: rgb(5, 5, 5)
);

@each $title, $color in $titles {
    .title.h1--#{$title} {
        color: $color;
    }
}/
